# --- AI & Framework (LLM / RAG) ---
langchain-core==1.2.25
langchain-community==0.4.1
langchain-ollama==1.0.1
langchain-text-splitters==1.1.1
langsmith==0.7.24
langchain-classic==1.0.3
ollama==0.6.1

# (Bỏ comment 2 dòng dưới đây nếu bạn đang chuyển sang dùng Google Gemini)
# langchain-google-genai
# google-generativeai

# --- Machine Learning & Models ---
torch==2.7.0.dev20250310+cu124
transformers==5.5.0
sentence-transformers==5.3.0
onnxruntime==1.24.4
scikit-learn==1.8.0
scipy==1.17.1

# --- Real-time Voice (LiveKit & Audio) ---
livekit==1.1.5
livekit-agents==1.5.2
livekit-api==1.1.0
livekit-plugins-cartesia==1.5.2
livekit-plugins-deepgram==1.5.2
livekit-plugins-silero==1.5.2
SpeechRecognition==3.16.0
edge-tts==7.2.8
PyAudio==0.2.14
sounddevice==0.5.5

# --- Database & Storage ---
qdrant-client==1.17.1
mysql-connector-python==9.6.0
SQLAlchemy==2.0.48

# --- Document Parsing & Data Handling ---
pandas==3.0.2
numpy==2.4.4
PyMuPDF==1.27.2.2
docx2txt==0.9
openpyxl==3.1.5
pytesseract==0.3.13
pillow==12.2.0

# --- System Utilities & Config ---
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2
requests==2.33.1
nest-asyncio==1.6.0
